html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, footer, header, nav, section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption, figure, main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: inherit;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details, menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

html {
    padding-left: calc(100vw - 100%);
}

body {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.35;
}

#container {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
}

p {
    margin: 0px;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url(/fonts/Montserrat-Medium.ttf);
}

.ButtonElement {
    font-size: 32px;
    font-weight: 400;
    padding: 0px;
    border: unset;
    background-image: unset;
    background-color: transparent;
    cursor: pointer;
    color: #FFB6B6;
    transition: color 0.15s;
}

.ButtonElement:hover {
    color: #FFECD1;
}

.ButtonElement:hover  .ButtonChevron::before {
    background-color: #FFECD1;
}

.ButtonElement:hover  .ButtonChevron::after {
    background-color: #FFECD1;
}

.ButtonElement:focus {
    outline: none;
}

.ButtonElement > span {
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.ButtonElement  .ButtonChevron::before {
    transition: background-color 0.15s;
}

.ButtonElement  .ButtonChevron::after {
    transition: background-color 0.15s;
}

.ButtonElement  .ButtonChevron::before {
    background-color: #FFB6B6;
}

.ButtonElement  .ButtonChevron::after {
    background-color: #FFB6B6;
}

.ButtonInverted {
    color: #F5E9CB;
}

.ButtonInverted:hover {
    color: #FCF6E5;
}

.ButtonInverted:hover  .ButtonChevron::before {
    background-color: #FCF6E5;
}

.ButtonInverted:hover  .ButtonChevron::after {
    background-color: #FCF6E5;
}

.ButtonInverted  .ButtonChevron::before {
    background-color: #F5E9CB;
}

.ButtonInverted  .ButtonChevron::after {
    background-color: #F5E9CB;
}

.ButtonChevron {
    padding-left: 10px;
    padding-right: 12px;
}

.ButtonChevron::before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 20px;
    border-radius: 1.5px;
    transform: rotate(-45deg) translateY(3px);
}

.ButtonChevron::after {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 20px;
    border-radius: 1.5px;
    bottom: 0px;
    transform: rotate(45deg) translateY(-3px);
}

.MainStage {
    position: relative;
    transition: background-color 300ms;
}

.MainSceneReady {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: top 300ms, opacity 300ms;
}

.MainSceneIn {
    top: 50px;
    opacity: 0;
}

.MainSceneOut {
    top: -50px;
    opacity: 0;
}

.StoryScene {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
}

.StoryContent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 60px 85px;
}

.StoryHeader {
    font-size: 32px;
    font-weight: 400;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #F2F1E7;
}

.StoryBody {
    transition: opacity 0.2s, transform 0.2s;
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
}

.StoryPrompt {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 600;
    color: #F5E9CB;
}

.StoryAuthor {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    color: #F2F1E7;
}

.StoryEmailField {
    border-style: none;
    outline-style: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.2s;
    font-size: 32px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 10px;
    transform: translateY(20px);
    color: #93938B;
}

.StoryEmailField::-webkit-input-placeholder {
    color: #F2F1E7;
    transition: padding-left 0.15s;
}

.StoryEmailField:-ms-input-placeholder {
    color: #F2F1E7;
    transition: padding-left 0.15s;
}

.StoryEmailField::placeholder {
    color: #F2F1E7;
    transition: padding-left 0.15s;
}

.StoryEmailField:focus::-webkit-input-placeholder {
    padding-left: 10px;
}

.StoryEmailField:focus:-ms-input-placeholder {
    padding-left: 10px;
}

.StoryEmailField:focus::placeholder {
    padding-left: 10px;
}

.StorySubmitRow {
    transition: opacity 0.2s, transform 0.2s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    transform: translateY(20px);
}

.StoryNameField {
    -ms-flex: 1;
        flex: 1;
    border-style: none;
    outline-style: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    color: #93938B;
}

.StoryNameField::-webkit-input-placeholder {
    color: #F2F1E7;
    transition: padding-left 0.15s;
}

.StoryNameField:-ms-input-placeholder {
    color: #F2F1E7;
    transition: padding-left 0.15s;
}

.StoryNameField::placeholder {
    color: #F2F1E7;
    transition: padding-left 0.15s;
}

.StoryNameField:focus::-webkit-input-placeholder {
    padding-left: 10px;
}

.StoryNameField:focus:-ms-input-placeholder {
    padding-left: 10px;
}

.StoryNameField:focus::placeholder {
    padding-left: 10px;
}

.StoryVisible {
    opacity: 1;
    transform: none;
}

.StoryLineContainer {
    position: relative;
    font-size: 60px;
    font-weight: 600;
}

.StoryLineInput {
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-style: none;
    outline-style: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: -81px;
    padding: 0px;
    z-index: 1;
    resize: none;
    color: #272727;
}

.StoryLineInput::-webkit-input-placeholder {
    color: #F2F1E7;
    transition: padding-left 0.15s;
}

.StoryLineInput:-ms-input-placeholder {
    color: #F2F1E7;
    transition: padding-left 0.15s;
}

.StoryLineInput::placeholder {
    color: #F2F1E7;
    transition: padding-left 0.15s;
}

.StoryLineInput:focus::-webkit-input-placeholder {
    padding-left: 10px;
}

.StoryLineInput:focus:-ms-input-placeholder {
    padding-left: 10px;
}

.StoryLineInput:focus::placeholder {
    padding-left: 10px;
}

.StoryLineShadowInput {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
}

.StoryLineShadowField {
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.StoryLineShadowText {
    color: transparent;
}

.StoryLineCount {
    color: #F2F1E7;
}

.ThanksScene {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    -ms-flex-pack: center;
        justify-content: center;
}

.ThanksContent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 60px 85px;
}

.ThanksMessage {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
}

.ThanksMessage + .ThanksMessage {
    margin-top: 45px;
}

.ThanksButton {
    margin-top: 65px;
}