<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Card Builder</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="app-root"><%-
      content
    -%></div>
    <script src="/bundle.js"></script>
  </body>
</html>
