/* This file is for your main application css. */
html {
  font-family: Montserrat sans-serif;
}

p {
  margin: 0
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: url('/Montserrat-Bold.ttf');
}
